[[local|localrc]]
DEST={{ devstack_dest }}

HOST_IP={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
SERVICE_HOST={{ devstack_service_ip }}
MULTI_HOST={{ devstack_multihost }}

LOGFILE={{ devstack_logfile }}
LOGDAYS=1

ADMIN_PASSWORD={{ devstack_admin_passwd }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

USE_BRANCH={{ devstack_branch }}
GIT_BASE={{ devstack_git_base }}

NOVA_BRANCH=$USE_BRANCH
CINDER_BRANCH=$USE_BRANCH
GLANCE_BRANCH=$USE_BRANCH
HORIZON_BRANCH=$USE_BRANCH
KEYSTONE_BRANCH=$USE_BRANCH
NEUTRON_BRANCH=$USE_BRANCH

MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
ENABLED_SERVICES=n-cpu,n-api-meta,placement-client,q-dhcp,q-l3,q-meta,q-agt

LOG_COLOR=True
{% if devstack_systemd %}
USE_SYSTEMD=True
{% else %}
USE_SCREEN=True
{% endif %}
USE_VENV={{ devstack_venv }}

NOVA_VNC_ENABLED=True
NOVNCPROXY_URL="http://{{ devstack_controller_fip }}:6080/vnc_auto.html"
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$VNCSERVER_LISTEN

{% if devstack_dvr %}
Q_DVR_MODE=dvr
{% endif %}


#networking settings
Q_USE_PROVIDER_NETWORKING=True
PUBLIC_INTERFACE={{ backend_interface }}
PUBLIC_NETWORK_GATEWAY={{ backend_gateway }}
OVS_PHYSICAL_BRIDGE=br-ex

[[post-config|$NEUTRON_CORE_PLUGIN_CONF]]
{% if devstack_dvr %}
[ml2_type_flat]
flat_networks = public,vrouter
{% endif %}

[ml2_type_vlan]
network_vlan_ranges = public,vrouter:1:4000

