[[local|localrc]]
DEST={{ devstack_dest }}

HOST_IP={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
SERVICE_HOST={{ devstack_service_ip }}
MULTI_HOST={{ devstack_multihost }}

LOGFILE={{ devstack_logfile }}
LOGDAYS=1

ADMIN_PASSWORD={{ devstack_admin_passwd }}
DATABASE_PASSWORD=$ADMIN_PASSWORD
RABBIT_PASSWORD=$ADMIN_PASSWORD
SERVICE_PASSWORD=$ADMIN_PASSWORD

USE_BRANCH={{ devstack_branch }}

NOVA_BRANCH=$USE_BRANCH
CINDER_BRANCH=$USE_BRANCH
GLANCE_BRANCH=$USE_BRANCH
HORIZON_BRANCH=$USE_BRANCH
KEYSTONE_BRANCH=$USE_BRANCH
NEUTRON_BRANCH=$USE_BRANCH

MYSQL_HOST=$SERVICE_HOST
RABBIT_HOST=$SERVICE_HOST
GLANCE_HOSTPORT=$SERVICE_HOST:9292
ENABLED_SERVICES=n-cpu,n-api-meta,placement-client,q-dhcp,q-l3,q-meta,q-agt

LOG_COLOR=True
{% if devstack_systemd %}
USE_SYSTEMD=True
{% else %}
USE_SCREEN=True
{% endif %}
USE_VENV={{ devstack_venv }}

NOVA_VNC_ENABLED=True
NOVNCPROXY_URL="http://{{ devstack_controller_fip }}:6080/vnc_auto.html"
VNCSERVER_LISTEN=$HOST_IP
VNCSERVER_PROXYCLIENT_ADDRESS=$VNCSERVER_LISTEN

{% if not devstack_dvr %}
ML2_L3_PLUGIN=opencontrail-router
{% else %}
Q_DVR_MODE=dvr
{% endif %}

OPENCONTRAIL_APISERVER_IP={{ opencontrail_api_ip }}
OPENCONTRAIL_APISERVER_PORT={{ opencontrail_api_port }}

enable_plugin networking-opencontrail https://git.openstack.org/openstack/networking-opencontrail {{ devstack_branch }}

{% if devstack_dvr %}
[[post-config|$OPENCONTRAIL_ML2_CONF_FILE]]
[services_providers]
service_provider=L3_ROUTER_NAT:TF:networking_opencontrail.l3.l3_flavor.TFL3ServiceProvider
{% endif %}

[[post-config|$NEUTRON_CORE_PLUGIN_CONF]]
[ml2]
tenant_network_types = vxlan,flat,vlan
mechanism_drivers = opencontrail,openvswitch,l2population
extension_drivers = port_security

{% if devstack_dvr %}
[ml2_type_flat]
flat_networks = public,vrouter
{% endif %}

[ml2_type_vlan]
network_vlan_ranges = public,vrouter:1:4000

