{% set ipv4_host = backend_ip | ipv4('host/prefix') | first %}
iface {{ backend_interface }} inet static
    address {{ ipv4_host | ipaddr('address') }}
    netmask {{ ipv4_host | ipaddr('netmask') }}
    network {{ ipv4_host | ipaddr('network') }}
    broadcast {{ ipv4_host | ipaddr('broadcast') }}

